/* Footer.css */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  background: #E4E9F9; /* Example background color */
  color: #616161;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Signika Negative', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Left side content */
.footer-left {
  display: flex;
  align-items: center;
}

/* Right side content */
.footer-right {
  display: flex;
  align-items: center;
}

.footer-right img {
  margin-left: 10px; /* Space out the images */
  width: 30px; /* Adjust the size as needed */
  height: auto; /* Maintain the aspect ratio */
}

/* Adjustments for the paragraph tags if necessary */
.pods, .About, .Privacy {
  margin-right: 10px;
}
