/* CSS for Header */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');


a{
  text-decoration: none;
}

header {
    background-color: #E4E9F9; /* Dark blue background */
    color: #fff; /* Text color */
    padding: 10px 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }

 
  
    /* LOGO WORDS  */
  .WLUGO {
    color: #94AAED;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Signika Negative', sans-serif;
    margin-left: 10px; /* Add left margin to space out the logo */
  }

  .WLUGO:hover{
    color: #a3bee6; /* Adjust the font size as needed */
    cursor: pointer;
  }

  .GO{
    color:blue;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Signika Negative', sans-serif;
    
  }
  
  /* .logo {
    font-size: 24px;
    font-weight: bold;
    color: #82A4D7; 
  }
   */

     /* NAV BAR  */
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 925px; /* TAKE OUT IF IT AFFECTS THE SCREEN*/
  }


  
  nav ul li {
    margin-right: 30px; /*space inbetween the words (login and signup)*/
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    
  }
  

  
  nav ul li a {
    text-decoration: none;
    color: #616161; 
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #82A4D7; /* Light navy blue text color on hover */
  }


 /* SEARCH BAR */
form {
    display: flex;
    align-items: center; /* Vertically center form elements */
  }
  
  input[type="text"] {
    border: 3px solid #94abce; /* Light navy blue border */
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 20px; /* Add border-radius for rounded corners */
  }
  
  input[type="text"]:focus {
    border: 3px solid #b1c6e6; /* Dark blue border on focus */
  }
  
  /* search button */
  button[type="submit"] {
    background-color: #94abce; /* Dark blue background for the button */
    color: #fff; /* Text color for the button */
    padding: 5px 10px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    border-radius: 10px; /* Add border-radius for rounded corners */
  }
  
  /* Adjust the button background color on hover */
  button[type="submit"]:hover {
    background-color: #b5c5db; /* Light navy blue background on hover */
  }
  
  